
body {
    margin: auto;
    font-family: monospace;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.pf-interactor {
    width: 800px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

.pf-outer-pane {
    flex-grow: 1;
    padding: 5px;
    border-bottom: 3px solid #999;
    overflow: scroll;

    /* This keeps it scrolled to the bottom. */
    display: flex;
    flex-direction: column-reverse;
}

.pf-pin-pane {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-right: 3px solid #999;
    overflow: scroll;
    place-items: center;
}

.pf-pin-pane > div {
    padding: 5px;
}

.pf-pin-pane:empty {
    display: none;
}


.pf-input-box {
    padding: 5px;
    /* padding-bottom: 15px; */
}

.pf-status-bar {
    height: 1.5em;
    text-align: right;
    color: #888;
}

.pf-status-normal {
    transition: color 2s ease;
    color: #888;
}

.pf-status-error {
    color: red;
}

.pf-status-flash-error {
    background: #fbb;
}

.pf-line {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pf-result {
    flex-grow: 1;
}

.pf-gutter {
    min-height: 1em;
}


.pf-line.pf-t-echo .ace_content {
    background: #f8f8f8;
}

.pf-line.pf-t-echo {
    background: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pf-gutter.pf-t-echo {
    /* background: white; */
    width: 20px;
    border-right: 5px solid transparent;
    margin-right: 10px;
}

.pf-gutter.pf-t-expression {
    /* background: #dcdcdc; */
    border-right: 5px solid #88f;
    width: 20px;
    margin-right: 10px;
}

.pf-gutter.pf-t-exception {
    /* background: #dcdcdc; */
    border-right: 5px solid red;
    width: 20px;
    margin-right: 10px;
}

.pf-gutter.pf-t-print {
    border-right: 5px solid transparent;
    width: 20px;
    margin-right: 10px;
    min-height: 0;
}

.pf-line.pf-t-print {
    margin: 0px;
    padding: 0px;
}

.pf-print-sequence {
    display: flex;
    flex-direction: row;
    place-items: center;
}

.pf-print-sequence > * {
    padding-left: 5px;
    padding-right: 5px;
}

.pf-pinbutton:hover {
    cursor: pointer;
}

.pf-block-type {
    margin-left: 5px;
    color: #fa0;
}

.pf-clsname {
    color: #aaa;
    text-align: right;
}

.pf-clsname-principal {
    color: #777;
    text-align: right;
}

.pf-collapsible {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

.pf-collapsible-title {
    cursor: pointer;
}

.pf-title-row {
    background-color: #ddd;
    display: flex;
    flex-direction: row;
}

.pf-title-row > *:first-child {
    flex-grow: 1;
}

.hrepr-error {
    width: 100%;
    box-sizing: border-box;
}

.hrepr-error-message {
    flex-grow: 1;
    background: white;
    padding-left: 5px;
}

.pf-bedit-hl {
    position: absolute;
    background: #fa5;
}

/* TODO: style the protected range when it is properly read-only */
/*
.pf-bedit-protected {
    position: absolute;
    background: repeating-linear-gradient(
        45deg,
        #eee,
        #eee 10px,
        transparent 10px,
        transparent 20px
      );
} */

.pf-pin-pane .pf-bedit {
    width: 600px;
}

.pf-bedit {
    width: 100%;
    border: 5px solid black;
    border-bottom: 2px solid;
    box-sizing: border-box;
}

.pf-bedit-editor {
    background: white;
    border: 5px solid white;
}

.pf-bedit-editor.ace_focus {
    background: beige;
    border: 5px solid beige;
}

.pf-bedit-saved { border-color: green; }
.pf-bedit-live { border-color: #8a0; }
.pf-bedit-dirty { border-color: #f60; }
.pf-bedit-error { border-color: red; }

.pf-bedit-saved .pf-bedit-status { background-color: green; }
.pf-bedit-live .pf-bedit-status { background-color: #8a0; }
.pf-bedit-dirty .pf-bedit-status { background-color: #f60; }
.pf-bedit-error .pf-bedit-status { background-color: red; }

.pf-bedit-status {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 10px;
}

.pf-bedit-filename {
    flex: 1;
}

.pf-hidden {
    display: none;
}

.pf-print-str {
    white-space: pre-wrap;
}
